html, body {
    height: 100%;
}

.night-primary-background, .night-secondary-background {
    background-color: #343A40;
}

.night-text {
    color: #FFFFFF;
}

.night-btn {
    background-color: #007BFF;
    color: #FFFFFF;
}

.font-100{
    font-size: 100px !important;
}

.text-center{
    text-align: center;
}

.w-66 {
    width: 66%;
}
.w-100 {
    width: 100%;
}