<div class="d-flex justify-content-center p-5">
    <div class="d-flex flex-column w-66">
        <h2>StringCalculator for</h2>
        <%= form({action: calculatePath(), method: "POST", class: "d-flex"}) { %>
            <div class="form-group w-100 mr-3">
                <%= f.InputTag({ name:"Expression", placeholder: "Type your expression...", value: calculator.Expression }) %>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">CALCULATE</button>
            </div>
        <% } %>
        
        <span class="text-center font-100"><%= calculator.Result %></span>
    </div>
</div>